@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-mouse-position{
  right: 40px;
}

.ol-overviewmap{
  bottom:40px;
}

.ol-attribution {
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ol-control.layerSwitcherControl{
  right: .5em;
  top: 50px; 
}

.geoLocationControl.ol-control{
  top: 8px;
  left: 40px;
}

#info{
  position:absolute;
  top:12px;
  left: 80px;

}

.drawControl.ol-control{
  right:.5em;
  top: 175px; 
}

.ol-control.editControl{
  right:.5em;
  top: 300px; 
}